
/*noinspection CssUnknownTarget,CssUnknownTarget*/
@import "compass/reset";
@import "../mixin/home_active";
@import "../mixin/pointer_slider";
@import "../mixin/font_style";
@import "../mixin/variable";
@import "../mixin/media_query";

//01 Global  Styles

// *== Style for header on new page
section {

    .content {
        text-align: center;

        h2 {
            display: inline-block;
            margin-bottom: 50px;
            @include font_style(26, bold);
            color: #484848;
            border-bottom: 2px solid $main-color;
            text-transform: capitalize;
        }
      }
}

// *== Style for word "UI" in logo-name and "To US" in section.talk-us
span.style-header {
    color: $main-color;
}

// *== Style for class wrapper, not section.talk-us
    section.about-us .wrapper,
    section.portfolio .wrapper,
    section.contact-us .wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
}

//02 Header menu
header {
    display: flex;
    justify-content: space-around;
    padding: 35px 0;

    .gamburger-list {
        display: none;
    }

    .logo-name {
        padding-top: 10px;
        @include font_style(22, bold, 0);
    }

    .menu-list {
        text-transform: uppercase;

        ul.nav-menu {

            > li {
                display: inline;
                margin-right: 30px;
                @include check_nav;

                a {
                    position: relative;

                    &:hover {
                        border-bottom: 2px solid $main-color;

                        &:after {
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            margin-left: -5px;
                            content: "";
                            width: 0;
                            height: 0;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-top: 9px solid $main-color;
                        }
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

//03 Slider menu section
section.slider {
    height: 44em;
    overflow: hidden;

    ul.slides {
        position: relative;

        > li {
            position: absolute;
            left: 100%;
            width: 100%;
            opacity: 0;

            @include set_pointer();

            img.slider-photo {
                display: block;
                width: 100%;
                height: 44em;
            }

            ul.slide-text {
                position: absolute;
                top: 50%;
                left: 50%;
                text-align: center;
                transform: translate(-50%, -50%);

                > li {

                    span {
                        padding: 10px 80px;
                        background-color: rgba(0, 0, 0, 0.5);
                        @include font_style(26, bold, 1.5em, 'Ubuntu Light');
                        color: white;
                        text-transform: capitalize;
                    }

                    &:first-child {
                        margin-bottom: 20px;
                    }
                }
            }

            &:first-child {
                left: 0;
                opacity: 1;
            }
        }
    }
}

//04 Description section
section.description {
    margin-bottom: 50px;
    background-color: $main-color;

        h2 {
            @include font_style(21);
            color: white;
            text-align: center;
            line-height: 4.5em;

            > span {
                text-transform: uppercase;
                font-weight: bold;
                border-bottom: 0.1px solid white;
            }
        }
}

//05 About-us section (services)
section.about-us {
    margin-bottom: 50px;

    .wrapper {

        .content {

            p.descr {
                margin-bottom: 50px;
                @include font_style(16,normal,2em);
                color: #a3a2a2;
                text-align: center;
            }

            ul.list-services {
                display: inline-block;
                text-align: justify;

               > li {
                   display: inline-block;
                   margin-right: 50px;
                   width: 220px;

                    span.fa {
                        display: block;
                        margin-bottom: 10px;
                        font-size: 30px;
                        text-align: center;
                        color: $main-color;
                    }

                    h3 {
                        @include font_style(20);
                        text-align: center;
                    }

                    p {
                        margin-top: 10px;
                        color: #a3a2a2;
                        font-size: 13px;
                        text-align: left;
                        line-height: 1.5em;
                    }
               }
            }
        }
    }
}

//06 Portfolio section (list projects)
section.portfolio {
    margin-bottom: 50px;

    .wrapper {

        .content {

            h2 {
                margin: 0 0 50px 0;
            }

            div.text-descr {
                margin-bottom: 20px;
                text-align: center;

                span.descr {
                    display: inline-block;
                    width: 700px;
                    @include font_style(16);
                    color: #a3a2a2;
                }
            }

            ul.list-project {
                display: inline-block;
                text-align: justify;

                > li {
                        display: inline-block;
                        margin-right: 20px;

                    img {
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                        opacity: 2;
                    }

                    .block-info {
                        margin-top: -3px;
                        border: 1px solid #d5d3d3;

                        .name-project {
                            width: 90%;
                            padding-right: 15px;
                            margin-bottom: 10px;
                            padding-top: 10px;
                            float: right;
                            font: bolder 16px 'Liberation Sans', sans-serif;
                            text-align: right;
                            color: $main-color;
                            border-bottom: 1px solid #d5d3d3;
                        }

                        p {
                            padding: 0 10px 8px 0;
                            font-size: 14px;
                            text-align: right;
                            color: #605f5f;

                        }
                    }
                }
            }
        }
    }
}

//07 Talk to us section
section.talk-us {
    margin-bottom: 70px;
    padding: 70px 50px 100px 50px;
    background-color: #7a7a7a;
    text-align: center;

        h2 {
            margin-bottom: 30px;
            @include font_style(72);
            font: 72px 'Liberation Sans', sans-serif;
            text-transform: capitalize;
            color: #fff;
        }

        p {
            display: inline-block;
            font-size: 18px;
            width: 850px;
            color: white;
            line-height: 1.5em;
        }
}

//08 Contact section
section.contact-us {
    margin-bottom: 200px;

    .wrapper {

        .content {

            .address-information {

                p.descr {
                    margin-bottom: 50px;
                    @include font_style(16,500,1.5em);
                    color: #a3a2a2;
                }
            }

            .block-contact {

                .map {
                    margin-right: 30px;
                }

                .contact {
                    display: inline-block;
                    vertical-align: top;

                    h3 {
                        text-align: left;
                        @include font_style(20, bold);
                        margin-bottom: 15px;
                    }

                    .wrapper-form {
                        margin-left: 50px;

                        ul.list-contacts {
                            text-align: left;

                            > li {

                                div.item {
                                    margin: 0 0 20px 0;

                                    span:first-child {
                                        margin-right: 20px;
                                        color: $main-color;
                                    }

                                    span:last-child {
                                        color: #a3a2a2;
                                    }
                                }

                                &:last-child {

                                    span:first-child {
                                        display: inline-block;
                                        vertical-align: super;
                                    }

                                    span:last-child {
                                        display: inline-block;
                                        width: 200px;
                                    }
                                }
                            }
                        }

                        form.contact-details {

                            ul.contact-info {

                                > li {

                                    &:first-child, &:nth-child(2)  {
                                        margin-bottom: 6px;
                                    }

                                    &:last-child {
                                        margin-bottom: 10px;
                                    }

                                    div.list-address {
                                        text-align: left;
                                        width: 289px;

                                        span{
                                            display: inline;
                                            color: #9d9c9c;

                                            .fa {
                                                margin-right: 20px;
                                                font-size: 20px;
                                                color: #f27554;
                                            }
                                        }
                                    }

                                    input[type="text"], input[type="email"], textarea {
                                        display: block;
                                        width: 300px;
                                        padding: 0 0 0 5px;
                                        border: 1px solid #cac6c6;
                                        font-size: 14px;
                                        background-color: #f0f0f0;
                                        line-height: 3em;

                                        &:focus {
                                            outline: none;
                                            border: 1px solid black;
                                            transition: border 0.5s;
                                        }
                                    }

                                    textarea {
                                        width: 450px;
                                        height: 150px;
                                        resize: none;

                                        &:focus {
                                            outline: none;
                                        }
                                    }
                                }
                            }

                            input[type="submit"] {
                                display: block;
                                padding: 10px 30px;
                                background-color: #f27554;
                                border: none;
                                border-radius: 2px;
                                font-size: 18px;
                                color: white;

                                &:focus {
                                    outline: none;
                                }

                                &:active {
                                    color: $main-color;
                                    background-color: inherit;
                                }
                            }
                        }
                    }
                }

            }

        }
    }
}

//09 Footer section
footer {
    margin-bottom: 200px;
    text-align: center;
    background-color: #f27554;

    h4 {
        line-height: 75px;
        color: #fff;
    }
}

@include media_query;







