/*noinspection CssUnknownTarget,CssUnknownTarget*/
/* line 5, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/screen.scss */
section .content {
  text-align: center;
}
/* line 18, ../sass/screen.scss */
section .content h2 {
  display: inline-block;
  margin-bottom: 50px;
  font: bold 26px/normal "Liberation Sans", sans-serif;
  color: #484848;
  border-bottom: 2px solid #f36b47;
  text-transform: capitalize;
}

/* line 30, ../sass/screen.scss */
span.style-header {
  color: #f36b47;
}

/* line 35, ../sass/screen.scss */
section.about-us .wrapper,
section.portfolio .wrapper,
section.contact-us .wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

/* line 44, ../sass/screen.scss */
header {
  display: flex;
  justify-content: space-around;
  padding: 35px 0;
}
/* line 49, ../sass/screen.scss */
header .gamburger-list {
  display: none;
}
/* line 53, ../sass/screen.scss */
header .logo-name {
  padding-top: 10px;
  font: bold 22px/0 "Liberation Sans", sans-serif;
}
/* line 58, ../sass/screen.scss */
header .menu-list {
  text-transform: uppercase;
}
/* line 63, ../sass/screen.scss */
header .menu-list ul.nav-menu > li {
  display: inline;
  margin-right: 30px;
}
/* line 7, ../mixin/home_active.scss */
header .menu-list ul.nav-menu > li:first-child a {
  border-bottom: 2px solid #f36b47;
}
/* line 10, ../mixin/home_active.scss */
header .menu-list ul.nav-menu > li:first-child a:after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 9px solid #f36b47;
}
/* line 68, ../sass/screen.scss */
header .menu-list ul.nav-menu > li a {
  position: relative;
}
/* line 71, ../sass/screen.scss */
header .menu-list ul.nav-menu > li a:hover {
  border-bottom: 2px solid #f36b47;
}
/* line 74, ../sass/screen.scss */
header .menu-list ul.nav-menu > li a:hover:after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 9px solid #f36b47;
}
/* line 89, ../sass/screen.scss */
header .menu-list ul.nav-menu > li:last-child {
  margin-right: 0;
}

/* line 98, ../sass/screen.scss */
section.slider {
  height: 44em;
  overflow: hidden;
}
/* line 102, ../sass/screen.scss */
section.slider ul.slides {
  position: relative;
}
/* line 105, ../sass/screen.scss */
section.slider ul.slides > li {
  position: absolute;
  left: 100%;
  width: 100%;
  opacity: 0;
}
/* line 5, ../mixin/pointer_slider.scss */
section.slider ul.slides > li .fa-chevron-left {
  position: absolute;
  top: 50%;
  left: 6%;
  font-size: 55px;
  color: #9f503d;
  transform: translate(-50%, -50%);
}
/* line 13, ../mixin/pointer_slider.scss */
section.slider ul.slides > li .fa-chevron-left:hover {
  cursor: pointer;
}
/* line 5, ../mixin/pointer_slider.scss */
section.slider ul.slides > li .fa-chevron-right {
  position: absolute;
  top: 50%;
  right: 6%;
  font-size: 55px;
  color: #9f503d;
  transform: translate(-50%, -50%);
}
/* line 13, ../mixin/pointer_slider.scss */
section.slider ul.slides > li .fa-chevron-right:hover {
  cursor: pointer;
}
/* line 113, ../sass/screen.scss */
section.slider ul.slides > li img.slider-photo {
  display: block;
  width: 100%;
  height: 44em;
}
/* line 119, ../sass/screen.scss */
section.slider ul.slides > li ul.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
/* line 128, ../sass/screen.scss */
section.slider ul.slides > li ul.slide-text > li span {
  padding: 10px 80px;
  background-color: rgba(0, 0, 0, 0.5);
  font: bold 26px/1.5em "Ubuntu Light", sans-serif;
  color: white;
  text-transform: capitalize;
}
/* line 136, ../sass/screen.scss */
section.slider ul.slides > li ul.slide-text > li:first-child {
  margin-bottom: 20px;
}
/* line 142, ../sass/screen.scss */
section.slider ul.slides > li:first-child {
  left: 0;
  opacity: 1;
}

/* line 151, ../sass/screen.scss */
section.description {
  margin-bottom: 50px;
  background-color: #f36b47;
}
/* line 155, ../sass/screen.scss */
section.description h2 {
  font: normal 21px/normal "Liberation Sans", sans-serif;
  color: white;
  text-align: center;
  line-height: 4.5em;
}
/* line 161, ../sass/screen.scss */
section.description h2 > span {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 0.1px solid white;
}

/* line 170, ../sass/screen.scss */
section.about-us {
  margin-bottom: 50px;
}
/* line 177, ../sass/screen.scss */
section.about-us .wrapper .content p.descr {
  margin-bottom: 50px;
  font: normal 16px/2em "Liberation Sans", sans-serif;
  color: #a3a2a2;
  text-align: center;
}
/* line 184, ../sass/screen.scss */
section.about-us .wrapper .content ul.list-services {
  display: inline-block;
  text-align: justify;
}
/* line 188, ../sass/screen.scss */
section.about-us .wrapper .content ul.list-services > li {
  display: inline-block;
  margin-right: 50px;
  width: 220px;
}
/* line 193, ../sass/screen.scss */
section.about-us .wrapper .content ul.list-services > li span.fa {
  display: block;
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
  color: #f36b47;
}
/* line 201, ../sass/screen.scss */
section.about-us .wrapper .content ul.list-services > li h3 {
  font: normal 20px/normal "Liberation Sans", sans-serif;
  text-align: center;
}
/* line 206, ../sass/screen.scss */
section.about-us .wrapper .content ul.list-services > li p {
  margin-top: 10px;
  color: #a3a2a2;
  font-size: 13px;
  text-align: left;
  line-height: 1.5em;
}

/* line 220, ../sass/screen.scss */
section.portfolio {
  margin-bottom: 50px;
}
/* line 227, ../sass/screen.scss */
section.portfolio .wrapper .content h2 {
  margin: 0 0 50px 0;
}
/* line 231, ../sass/screen.scss */
section.portfolio .wrapper .content div.text-descr {
  margin-bottom: 20px;
  text-align: center;
}
/* line 235, ../sass/screen.scss */
section.portfolio .wrapper .content div.text-descr span.descr {
  display: inline-block;
  width: 700px;
  font: normal 16px/normal "Liberation Sans", sans-serif;
  color: #a3a2a2;
}
/* line 243, ../sass/screen.scss */
section.portfolio .wrapper .content ul.list-project {
  display: inline-block;
  text-align: justify;
}
/* line 247, ../sass/screen.scss */
section.portfolio .wrapper .content ul.list-project > li {
  display: inline-block;
  margin-right: 20px;
}
/* line 251, ../sass/screen.scss */
section.portfolio .wrapper .content ul.list-project > li img {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  opacity: 2;
}
/* line 256, ../sass/screen.scss */
section.portfolio .wrapper .content ul.list-project > li .block-info {
  margin-top: -3px;
  border: 1px solid #d5d3d3;
}
/* line 260, ../sass/screen.scss */
section.portfolio .wrapper .content ul.list-project > li .block-info .name-project {
  width: 90%;
  padding-right: 15px;
  margin-bottom: 10px;
  padding-top: 10px;
  float: right;
  font: bolder 16px 'Liberation Sans', sans-serif;
  text-align: right;
  color: #f36b47;
  border-bottom: 1px solid #d5d3d3;
}
/* line 272, ../sass/screen.scss */
section.portfolio .wrapper .content ul.list-project > li .block-info p {
  padding: 0 10px 8px 0;
  font-size: 14px;
  text-align: right;
  color: #605f5f;
}

/* line 287, ../sass/screen.scss */
section.talk-us {
  margin-bottom: 70px;
  padding: 70px 50px 100px 50px;
  background-color: #7a7a7a;
  text-align: center;
}
/* line 293, ../sass/screen.scss */
section.talk-us h2 {
  margin-bottom: 30px;
  font: normal 72px/normal "Liberation Sans", sans-serif;
  font: 72px 'Liberation Sans', sans-serif;
  text-transform: capitalize;
  color: #fff;
}
/* line 301, ../sass/screen.scss */
section.talk-us p {
  display: inline-block;
  font-size: 18px;
  width: 850px;
  color: white;
  line-height: 1.5em;
}

/* line 311, ../sass/screen.scss */
section.contact-us {
  margin-bottom: 200px;
}
/* line 320, ../sass/screen.scss */
section.contact-us .wrapper .content .address-information p.descr {
  margin-bottom: 50px;
  font: 500 16px/1.5em "Liberation Sans", sans-serif;
  color: #a3a2a2;
}
/* line 329, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .map {
  margin-right: 30px;
}
/* line 333, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .contact {
  display: inline-block;
  vertical-align: top;
}
/* line 337, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .contact h3 {
  text-align: left;
  font: bold 20px/normal "Liberation Sans", sans-serif;
  margin-bottom: 15px;
}
/* line 343, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .contact .wrapper-form {
  margin-left: 50px;
}
/* line 346, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .contact .wrapper-form ul.list-contacts {
  text-align: left;
}
/* line 351, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .contact .wrapper-form ul.list-contacts > li div.item {
  margin: 0 0 20px 0;
}
/* line 354, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .contact .wrapper-form ul.list-contacts > li div.item span:first-child {
  margin-right: 20px;
  color: #f36b47;
}
/* line 359, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .contact .wrapper-form ul.list-contacts > li div.item span:last-child {
  color: #a3a2a2;
}
/* line 366, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .contact .wrapper-form ul.list-contacts > li:last-child span:first-child {
  display: inline-block;
  vertical-align: super;
}
/* line 371, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .contact .wrapper-form ul.list-contacts > li:last-child span:last-child {
  display: inline-block;
  width: 200px;
}
/* line 385, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .contact .wrapper-form form.contact-details ul.contact-info > li:first-child, section.contact-us .wrapper .content .block-contact .contact .wrapper-form form.contact-details ul.contact-info > li:nth-child(2) {
  margin-bottom: 6px;
}
/* line 389, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .contact .wrapper-form form.contact-details ul.contact-info > li:last-child {
  margin-bottom: 10px;
}
/* line 393, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .contact .wrapper-form form.contact-details ul.contact-info > li div.list-address {
  text-align: left;
  width: 289px;
}
/* line 397, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .contact .wrapper-form form.contact-details ul.contact-info > li div.list-address span {
  display: inline;
  color: #9d9c9c;
}
/* line 401, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .contact .wrapper-form form.contact-details ul.contact-info > li div.list-address span .fa {
  margin-right: 20px;
  font-size: 20px;
  color: #f27554;
}
/* line 409, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .contact .wrapper-form form.contact-details ul.contact-info > li input[type="text"], section.contact-us .wrapper .content .block-contact .contact .wrapper-form form.contact-details ul.contact-info > li input[type="email"], section.contact-us .wrapper .content .block-contact .contact .wrapper-form form.contact-details ul.contact-info > li textarea {
  display: block;
  width: 300px;
  padding: 0 0 0 5px;
  border: 1px solid #cac6c6;
  font-size: 14px;
  background-color: #f0f0f0;
  line-height: 3em;
}
/* line 418, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .contact .wrapper-form form.contact-details ul.contact-info > li input[type="text"]:focus, section.contact-us .wrapper .content .block-contact .contact .wrapper-form form.contact-details ul.contact-info > li input[type="email"]:focus, section.contact-us .wrapper .content .block-contact .contact .wrapper-form form.contact-details ul.contact-info > li textarea:focus {
  outline: none;
  border: 1px solid black;
  transition: border 0.5s;
}
/* line 425, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .contact .wrapper-form form.contact-details ul.contact-info > li textarea {
  width: 450px;
  height: 150px;
  resize: none;
}
/* line 430, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .contact .wrapper-form form.contact-details ul.contact-info > li textarea:focus {
  outline: none;
}
/* line 437, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .contact .wrapper-form form.contact-details input[type="submit"] {
  display: block;
  padding: 10px 30px;
  background-color: #f27554;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  color: white;
}
/* line 446, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .contact .wrapper-form form.contact-details input[type="submit"]:focus {
  outline: none;
}
/* line 450, ../sass/screen.scss */
section.contact-us .wrapper .content .block-contact .contact .wrapper-form form.contact-details input[type="submit"]:active {
  color: #f36b47;
  background-color: inherit;
}

/* line 466, ../sass/screen.scss */
footer {
  margin-bottom: 200px;
  text-align: center;
  background-color: #f27554;
}
/* line 471, ../sass/screen.scss */
footer h4 {
  line-height: 75px;
  color: #fff;
}

@media (max-width: 765px) {
  /* line 6, ../mixin/media_query.scss */
  p.descr {
    width: 90%;
    margin: 0 auto 50px auto;
  }

  /* line 13, ../mixin/media_query.scss */
  header .logo-name {
    font: 100 35px/0 "Liberation Sans", sans-serif;
  }
  /* line 17, ../mixin/media_query.scss */
  header .gamburger-list {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #f36b47;
    font-size: 20px;
  }
  /* line 26, ../mixin/media_query.scss */
  header .menu-list {
    display: none;
  }

  /* line 33, ../mixin/media_query.scss */
  section.slider span.fa {
    font-size: 30px;
  }
  /* line 41, ../mixin/media_query.scss */
  section.slider ul.slide-name > li h2 {
    padding: 5px 10px;
    font: normal 9px/normal "Liberation Sans", sans-serif;
  }

  /* line 52, ../mixin/media_query.scss */
  section.description h2 {
    font-size: 0.5em;
  }

  /* line 63, ../mixin/media_query.scss */
  section.about-us .wrapper .content ul.list-services {
    text-align: center;
    border-top: 0;
    border-bottom: 10px solid #f36b47;
    padding: 50px 0 50px 0;
  }
  /* line 69, ../mixin/media_query.scss */
  section.about-us .wrapper .content ul.list-services > li {
    margin: 0 0 50px 0;
  }
  /* line 72, ../mixin/media_query.scss */
  section.about-us .wrapper .content ul.list-services > li p {
    text-align: center;
  }
  /* line 76, ../mixin/media_query.scss */
  section.about-us .wrapper .content ul.list-services > li:last-child {
    margin-bottom: 0;
  }
  /* line 82, ../mixin/media_query.scss */
  section.about-us .wrapper .content ul.first-list-item {
    padding-bottom: 0;
    border-top: 10px solid #f36b47;
    border-bottom: 0;
  }

  /* line 97, ../mixin/media_query.scss */
  section.portfolio .wrapper .content div.text-descr {
    width: 90%;
    margin: 0 auto 50px auto;
  }
  /* line 101, ../mixin/media_query.scss */
  section.portfolio .wrapper .content div.text-descr span.descr {
    width: 100%;
  }
  /* line 106, ../mixin/media_query.scss */
  section.portfolio .wrapper .content ul.list-project {
    text-align: center;
  }
  /* line 109, ../mixin/media_query.scss */
  section.portfolio .wrapper .content ul.list-project li {
    margin-bottom: 50px;
  }
  /* line 112, ../mixin/media_query.scss */
  section.portfolio .wrapper .content ul.list-project li .block-info {
    background-color: #f5f5f5;
  }
  /* line 117, ../mixin/media_query.scss */
  section.portfolio .wrapper .content ul.list-project li .block-info a .name-project {
    right: 15px;
    width: 80%;
    text-align: center;
    border-bottom: 1px solid #e0d6d6;
  }
  /* line 125, ../mixin/media_query.scss */
  section.portfolio .wrapper .content ul.list-project li .block-info p {
    text-align: center;
  }

  /* line 137, ../mixin/media_query.scss */
  section.talk-us h2 {
    font-size: 40px;
  }
  /* line 141, ../mixin/media_query.scss */
  section.talk-us p {
    width: 100%;
  }

  /* line 154, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .address-information h2 {
    margin: 0 0 50px 0;
    font: 100 35px/normal "Liberation Sans", sans-serif;
  }
  /* line 161, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .map {
    margin-right: 0;
    width: 100%;
  }
  /* line 166, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .contact {
    display: block;
  }
  /* line 169, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .contact h3 {
    position: relative;
    margin-left: 0;
    margin-bottom: 50px;
    font: 100 26px/normal "Liberation Sans", sans-serif;
    margin-top: 50px;
    text-align: center;
  }
  /* line 177, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .contact h3:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
    width: 140px;
    height: 3px;
    background-color: #F16868;
  }
  /* line 189, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .contact div.wrapper-form {
    margin: 0 auto;
    width: 80%;
  }
  /* line 193, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .contact div.wrapper-form:last-child {
    margin: 0 auto;
    width: 95%;
  }
  /* line 203, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .contact div.wrapper-form:last-child form.contact-details ul.contact-info > li input[type="text"], section.contact-us .wrapper .content .block-contact .contact div.wrapper-form:last-child form.contact-details ul.contact-info > li input[type="email"], section.contact-us .wrapper .content .block-contact .contact div.wrapper-form:last-child form.contact-details ul.contact-info > li textarea {
    width: 99%;
  }
  /* line 210, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .contact div.wrapper-form:last-child form.contact-details input[type="submit"] {
    margin: 0 auto;
    width: 60%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  /* line 5, ../mixin/pointer_slider.scss */
  section.slider .fa-chevron-left {
    position: absolute;
    top: 50%;
    left: 6%;
    font-size: 40px;
    color: #9f503d;
    transform: translate(-50%, -50%);
  }
  /* line 13, ../mixin/pointer_slider.scss */
  section.slider .fa-chevron-left:hover {
    cursor: pointer;
  }
  /* line 5, ../mixin/pointer_slider.scss */
  section.slider .fa-chevron-right {
    position: absolute;
    top: 50%;
    right: 6%;
    font-size: 40px;
    color: #9f503d;
    transform: translate(-50%, -50%);
  }
  /* line 13, ../mixin/pointer_slider.scss */
  section.slider .fa-chevron-right:hover {
    cursor: pointer;
  }
  /* line 238, ../mixin/media_query.scss */
  section.slider ul.slide-name li > h2 {
    font: bold 15px/1.5em "Ubuntu Light", sans-serif;
  }

  /* line 246, ../mixin/media_query.scss */
  section.about-us .wrapper {
    width: 80%;
    margin: 0 auto;
  }
  /* line 254, ../mixin/media_query.scss */
  section.about-us .wrapper .content ul.list-services > li {
    margin-bottom: 50px;
  }
  /* line 259, ../mixin/media_query.scss */
  section.about-us .wrapper .content ul.list-services:nth-last-of-type(1) > li {
    margin-bottom: 0;
  }

  /* line 270, ../mixin/media_query.scss */
  section.portfolio .wrapper {
    width: 80%;
    margin: 0 auto;
  }
  /* line 278, ../mixin/media_query.scss */
  section.portfolio .wrapper .content div.text-descr span.descr {
    width: 100%;
  }
  /* line 285, ../mixin/media_query.scss */
  section.portfolio .wrapper .content ul.list-project > li {
    margin-right: 50px;
    margin-bottom: 50px;
  }
  /* line 292, ../mixin/media_query.scss */
  section.portfolio .wrapper .content ul.list-project > li .block-info .name-project {
    margin-right: 20px;
    width: 80%;
    text-align: center;
  }
  /* line 298, ../mixin/media_query.scss */
  section.portfolio .wrapper .content ul.list-project > li .block-info p {
    text-align: center;
  }
  /* line 306, ../mixin/media_query.scss */
  section.portfolio .wrapper .content ul.list-project:nth-last-of-type(1) > li {
    margin-bottom: 0;
  }

  /* line 317, ../mixin/media_query.scss */
  section.talk-us p {
    width: 100%;
  }

  /* line 324, ../mixin/media_query.scss */
  section.contact-us .wrapper {
    margin: 0 auto;
    width: 80%;
  }
  /* line 330, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact {
    margin: 0 auto;
    width: 80%;
  }
  /* line 334, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .map {
    margin-right: 0;
    width: 100%;
  }
  /* line 339, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .contact {
    width: 100%;
  }
  /* line 342, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .contact h3 {
    margin-left: 0;
    font: bold 26px/normal "Liberation Sans", sans-serif;
    margin-top: 50px;
    text-align: center;
  }
  /* line 349, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .contact .wrapper-form {
    margin-left: 0;
  }
  /* line 352, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .contact .wrapper-form ul.list-contacts {
    display: table;
    margin-bottom: 20px;
    width: 100%;
    text-align: justify;
  }
  /* line 360, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .contact .wrapper-form ul.list-contacts > li:first-child {
    display: table-footer-group;
  }
  /* line 365, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .contact .wrapper-form ul.list-contacts > li:first-child div.item:first-child {
    float: left;
  }
  /* line 369, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .contact .wrapper-form ul.list-contacts > li:first-child div.item:last-child {
    float: right;
  }
  /* line 376, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .contact .wrapper-form ul.list-contacts > li:last-child {
    display: table-header-group;
  }
  /* line 379, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .contact .wrapper-form ul.list-contacts > li:last-child div.item {
    margin: 0 auto;
    width: 240px;
  }
  /* line 385, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .contact .wrapper-form ul.list-contacts > li:last-child div.item span:first-child {
    padding-top: 10px;
  }
  /* line 389, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .contact .wrapper-form ul.list-contacts > li:last-child div.item span:last-child {
    margin-bottom: 20px;
  }
  /* line 405, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .contact .wrapper-form form.contact-details ul.contact-info li input[type="text"], section.contact-us .wrapper .content .block-contact .contact .wrapper-form form.contact-details ul.contact-info li input[type="email"], section.contact-us .wrapper .content .block-contact .contact .wrapper-form form.contact-details ul.contact-info li textarea {
    width: 100%;
  }
  /* line 411, ../mixin/media_query.scss */
  section.contact-us .wrapper .content .block-contact .contact .wrapper-form form.contact-details input[type="submit"] {
    display: inline-block;
    width: 60%;
    text-align: center;
  }
}
